body {
  font-family: "Quicksand", sans-serif;
}

h1 {
  color: #006ec5;
  font-size: 15px;
  font-weight: 80;
  line-height: 28px;
  text-align: left;
  margin: 0;
  font-weight: bold;
}
ul {
  margin: 0 0 10px;
  padding: 0;
}
li {
  color: #006ec5;
  font-size: 20px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.weather-app {
  border: #006ec5 2px solid;
  padding: 20px;
  margin: 30px auto;
  max-width: 720px;
  border-radius: 05px;
  background: linear-gradient(
    111.5deg,
    rgb(228, 247, 255) 21.9%,
    rgb(255, 216, 194) 92.2%
  );
}
.icon-flex {
  align-items: center;
  display: flex;
}

.temperature {
  color: #7fb6e1;
  font-size: 74px;
  font-weight: 400;
  line-height: 1px;
}

.units {
  position: relative;
  top: -34px;
}
.weather-form {
  margin-bottom: 20px;
}
p {
  text-align: center;
}
.active {
  color: #000;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
}

.col-6 {
  align-items: center;
  display: flex;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.4;
}
.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.4;
}
