body {
  font-family: "Quicksand", sans-serif;
}

h1 {
  color: #352961;
  font-size: 15px;
  font-weight: 80;
  line-height: 28px;
  text-align: left;
  margin: 0;
  font-weight: bold;
}
ul {
  margin: 0 0 10px;
  padding: 0;
}
li {
  color: #774181;
  font-size: 20px;
  font-weight: 300;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.weather-app {
  border: #774181 2px solid;
  padding: 20px;
  margin: 30px auto;
  max-width: 720px;
  border-radius: 05px;
  background: linear-gradient(
    109.6deg,
    rgb(177, 173, 219) 11.2%,
    rgb(245, 226, 226) 91.1%
  );
}
.icon-flex {
  align-items: center;
  display: flex;
}

.temperature {
  color: #352961;
  font-size: 74px;
  font-weight: 400;
  line-height: 1px;
}

.units {
  position: relative;
  align-items: center;
  display: flex;
  margin-left: 10px;
}
.weather-form {
  margin-bottom: 20px;
}

p {
  text-align: center;
}
.active {
  color: #000;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
}

.col-6 {
  align-items: center;
  display: flex;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #352961;
}
.weather-forecast-date {
  font-size: 16px;
  color: #774181;
  opacity: 0.8;
}
.weather-forecast-temperatures {
  font-size: 13px;
  color: #352961;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
  color: #774181;
}
